{% with tabname='calendar' %}
<div class="tab-container">
    <div class="row">
        <div class="col">
            <div class="text-justify">
                {% include 'calendar_descr.html' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="tab-elem-content">
                {% include 'loading.html' %}
                <div class="inner-content" id="inner-calendar-content">
                    <div class="row">
                        <!-- Main selection -->
                        <div class="col-25perc sticky-top">
                            <div class="card card-well">
                                <div class="card-body">
                                    <form>
                                        <div class="row my-1">
                                            <div class="col">
                                                {% include 'label.html' with category='date' capcategoryname='Week date' kind='input' %}
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col">
                                                <input id="{{ tabname }}-date-input" class="form-control" type="date" disabled></input>
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col">
                                                {% include 'submitbutton.html' with category='main' %}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row my-1">
                                <div class="col">
                                    <div class="card card-container">
                                        <div class="card-body">
                                            <div class="row my-1">
                                                <div class="col">
                                                    <div id="calendar-img-header-context">
                                                        <h5>Loading calendar ...</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row my-1">
                                                <div class="col">
                                                    <div class="text-start">
                                                        <img src="" alt="Calendar" id="calendar-img-context" class="img-fluid calendar-img" style="cursor: pointer;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}