<p>Properly managing agents' shift schedules is essential to urban operations, boosting the effectiveness of field activities and enabling timely responses to citizens' needs.</p>

<p class="mb-1">In this tab, users can explore and interact with the weekly calendar of agent shifts, designed to align coverage with the payment hours for parking and the required control periods.On the left-hand side, a selection panel allows users to choose the specific week of the year they wish to analyze, as shifts are organized on a weekly basis. If no selection is made, the tool defaults to displaying the shifts for the most recent week.
    The calendar view is structured by days of the week, with each day further divided into hourly slots from 08:00 to 24:00, corresponding to the time ranges when parking payment and agent patrols are required. Shifts are generated in accordance with the contractual working hours allocated to each agent.
    Future enhancements will include the ability to incorporate agent preferences, such as:
<ul>
    <li>specific days and hours of availability;</li>
    <li>requests for time off or leave;</li>
    <li>and custom scheduling adjustments based on individual needs.</li>
</ul>

<p>By providing a clear and flexible interface, this tab empowers administrators to visualize, evaluate, and optimize shift allocations. Built on <em>Key Performance Indicators</em> (KPIs)—such as detected violations, average response times, coverage efficiency, and shift management metrics—the calendar facilitates data-driven decisions to enhance operational efficiency and improve urban mobility management.</p>