<p>By examining the distributions of transactions, parking occupancy rates, and recorded violations, this tab provides a comprehensive view of urban mobility dynamics, highlighting recurring patterns and specific criticalities within the analyzed context.</p>

<p class="mb-1">On the left-hand side, a selection panel allows users to refine their analysis by choosing specific parameters, such as the zone, the week of the year, and the time range of interest. None of these selections are mandatory, offering users full flexibility in exploring the data.
    Based on the chosen parameters, the tab dynamically generates plots:</p>
<ul>
    <li><b>Transactions distribution</b>: shows the number of transactions;</li>
    <li><b>Revenue distribution</b>: displays the amount in euros generated;</li>
    <li><b>Parking slot occupancy distribution</b>: highlights occupancy trends across parking spaces;</li>
    <li><b>Violation distribution</b>: this plot appears only for time ranges during which parking fees are applicable and shows the distribution of issued fines.</li>
</ul>

<p>For each plot, a detailed interaction panel is available on the right-hand side: for the <em>transactions</em> and <em>revenue</em> plots, users can select a specific parking meter; for the <em>parking slot occupancy</em> plot, users can select a specific parking slot and toggle between the distribution of legal and illegal occupancy.
    Each selection made by the user is visually reflected on the mini-map within the tab, with the corresponding element (zone, parking meter, or slot) highlighted for clarity.</p>

<p>This functionality is designed to facilitate detailed and dynamic exploration, enabling decision-makers to uncover inefficiencies and improve resource management in urban mobility systems effectively.</p>