{% load static %}
<div class="tab-container">
    <div class="row">
        <div class="col">
            <div class="text-justify">
                {% include 'intro_descr.html' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="tab-elem-content mt-3">
                <img src="{% static 'images/dt.png' %}" class="img-fluid" alt="Workflow">
            </div>
        </div>
    </div>
</div>