<div class="loading-inner-screen text-center" id="loading-{{ tabname }}-screen">
    <div class="row justify-content-md-center my-1">
        <div class="col-3">
            <strong class="loading-description" id="loading-{{ tabname }}-description" role="status">Loading
            </strong>
        </div>
    </div>
    <div class="row justify-content-md-center my-1">
        <div class="col-3">
            <div class="spinner-border text-primary" id="loading-{{ tabname }}-spinner" role="status" aria-hidden="true">
            </div>
        </div>
    </div>
</div>