<p>The generative component employs a tailored <em>Generative Adversarial Network-based architecture</em> to address the complexity of multivariate time-series generation. Such model takes as input a combination of real data and user-defined hypothetical conditions.</p>

<p class="mb-1">The <q>What-if scenarios</q> tab enables users to simulate scenarios based on real-world data using an this advanced artificial intelligence methodology. This tool was developed to support strategic decision-making in urban contexts, allowing users to evaluate the potential impact of significant changes in three key areas: <b>Temporary Roads or Zones Closures</b>, <b>Construction of a Multistory Parking Facility</b>, <b>Consecutive Rainy Days</b>. While real data is used as a foundation, the simulated scenarios do not have a direct real-world counterpart but rather represent projections based on the selected conditions.</p>

<p class="mb-1">Once each simulation runs, the relative tab displays various plots that help evaluate its impact on parking demand. These include:
<ul>
    <li><b>Real and Generated Data Heatmaps:</b> displays parking activity in Caserta based on actual data and simulates parking activity under the selected scenario.</li>
    <li><b>Radar Plot:</b> highlights the effect of the simulation on all zones, showing the redistribution of demand across the city.</li>
    <li><b>Bar Plot with Associated t-SNE:</b> visualizes changes in parking activity and clusters zones based on their response to the simulation.</li>
    <li><b>Line Plot:</b> compares time series trends of parking demand between generated and real data.</li>
</ul>
</p>

<p>Using a fully data-based methodology, it is possible to explore future scenarios without real-world changes.</p>